<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login | MedTech</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>
<body>
  <div class="login-container">
    <h2>MedTech Login</h2>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('login') }}">
      <label>Phone Number</label>
      <input type="phone" name="phone" placeholder="Enter phone Number" required />

      <label>Password</label>
      <input type="password" name="password" placeholder="Enter password" required />

      <button type="submit">Login</button>
      
           

    </form>
  </div>
</body>
</html>
